html, body, #map-canvas { height: 100%; width: 100%; margin: 0; padding: 0; z-index: 0; }

.container-fluid {
	height:100%;
	width: 100%;
}
.myModal {
	position: relative;
	z-index: 400;
}
#theFormID {
	position: fixed;
	z-index: 5;
}
#theFieldID {
	background-color: #ffffff;
}
#map-canvas img{
    max-width: none;
    position: relative;
    z-index: 2;
    height: 100%; 
    margin: 0; 
    padding: 0;
}
.search {
	position: relative;
	margin: 8em;
	margin-right: 20px;
	z-index: 5;
	max-width: 220px;
}
.mainbutton {
	list-style-type: none;
	margin: 3em;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 0px;
	right: 15px;
	z-index: 10;


}
#BV-folks {

	list-style-type: none;
	min-width: 15%;
	max-width:25%;
	background-color: #ffffff;
	border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-width: 1px;
	border-color: #337ab7;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	margin-top: 100px ;
	margin-right:.5em;
	max-height: 400px;
	overflow: auto;

}
#list-view {
	list-style-type: none;
	/*padding: .8em;*/
	cursor: pointer;

	background-color: transparent;
	border: none;
	padding: 0;
	border: none;
}
a {
  color: blue;
  text-decoration: none;
}