html, 
body, 
#map-canvas {
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	z-index: 0;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.iwphoto {
	max-width: 5px;
	max-height: 20px;
	}

/*styles for setting the container div to the same as the map canvas height and width*/
.container-fluid {
	height:100%;
	width: 100%;
}
/*using fixed positioning so that I can use the z axis..though other positioning settings also work*/
.form {
	position: fixed;
	z-index: 5;
}
/*styles for making search bar colors consistent with list view colors can't get it to work without an ID*/
#theFieldID {
	background-color: #fff;
}
/*hides the search bar when the screen gets below a certain*/
@media (max-width: 700px) {
	.search {
		margin: 0px;
		padding: none;
		position: relative;
		max-width: 0px;
		z-index: 5;
	};
	.mainbutton {
		margin: 0px;
		padding: none;
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 10;
	};
	.BV-folks {
		margin-top: 36px;
		margin-right: 0px;
		max-height: 200px;
	};
	.list-view {
		max-width: 140px;
		max-height: 150px;
	};
}

/*styles for making sure map has functioning z index as well as no white space from the container div*/
#map-canvas img{
    max-width: none;
    position: relative;
    z-index: 2;
    height: 100%; 
    margin: 0; 
    padding: 0;
}
/*styles for div containing the search function..max width only way I could keep the bar from over expanding*/
.search {
	position: relative;
	margin-left: 7em;
	margin-right: 20px;
	margin-top: 2em;
	z-index: 5;
	max-width: 180px;
}
/*styles for div containing the main button*/
.mainbutton {
	list-style-type: none;
	margin: 3em;
	border: none;
	position: absolute;
	top: 0px;
	right: 15px;
	z-index: 10;
}
/*styles for div containing the list as a whole*/
.BV-folks {
	list-style-type: none;
	min-width: 15%;
	max-width:25%;
	background-color: #fff;
	border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-width: 1px;
	border-color: #337ab7;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	margin-top: 100px ;
	margin-right:15px;
	max-height: 400px;
	overflow: auto;
}
/*styles for div containing each list item*/
.list-view {
	list-style-type: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
	border: none;
}
a {
	color: blue;
	text-decoration: none;
}
/*Syles for directions panel*/
 #map-panel {
 			text-align: center;
            list-style-type: none;
            border: none;
            position: absolute;
            bottom: 0px;
            right: 0px;
            z-index: 10;
            width: 100%;
            background-color: #fff;
            max-height: 33.33%;
            overflow-y: scroll;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        #map-panel .adp-placemark {
        	margin-top: 60px;
        }
        #map-panel > div > div > div:nth-child(3) > div:nth-child(3) .adp-placemark {
        	margin: 0;
        }
  .top-label {
  	position: fixed;
    color: #337ab7;
    width: 100%;
    border: 1px solid;
    padding: 20px 0 20px 0;
    margin: 0;
    background-color: white;
    z-index: 1000;
  }
  .top-label span {
  	color: #f7544c;
  }
.adp-directions {
 			margin:0 auto;
 			background-color: white;
 			
 }
 .adp-directions tbody {
 	text-align: left;
 }
 .adp-summary{
 	font-size: 16px;
 	font-weight: 500;
 	color: #f7544c;
 }
.adp-summary + div {  
	background-color: rgba(159, 193, 221, 0.48);
}
.modal-footer {
	text-align: center;
}
/*Spinner*/
#circularG{
	position:relative;
	width:37px;
	height:37px;
	margin: auto;
}

.circularG{
	position:absolute;
	background-color:rgb(0,0,0);
	width:9px;
	height:9px;
	border-radius:6px;
		-o-border-radius:6px;
		-ms-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:1.1s;
		-o-animation-duration:1.1s;
		-ms-animation-duration:1.1s;
		-webkit-animation-duration:1.1s;
		-moz-animation-duration:1.1s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:15px;
	animation-delay:0.41s;
		-o-animation-delay:0.41s;
		-ms-animation-delay:0.41s;
		-webkit-animation-delay:0.41s;
		-moz-animation-delay:0.41s;
}

#circularG_2{
	left:4px;
	top:4px;
	animation-delay:0.55s;
		-o-animation-delay:0.55s;
		-ms-animation-delay:0.55s;
		-webkit-animation-delay:0.55s;
		-moz-animation-delay:0.55s;
}

#circularG_3{
	top:0;
	left:15px;
	animation-delay:0.69s;
		-o-animation-delay:0.69s;
		-ms-animation-delay:0.69s;
		-webkit-animation-delay:0.69s;
		-moz-animation-delay:0.69s;
}

#circularG_4{
	right:4px;
	top:4px;
	animation-delay:0.83s;
		-o-animation-delay:0.83s;
		-ms-animation-delay:0.83s;
		-webkit-animation-delay:0.83s;
		-moz-animation-delay:0.83s;
}

#circularG_5{
	right:0;
	top:15px;
	animation-delay:0.97s;
		-o-animation-delay:0.97s;
		-ms-animation-delay:0.97s;
		-webkit-animation-delay:0.97s;
		-moz-animation-delay:0.97s;
}

#circularG_6{
	right:4px;
	bottom:4px;
	animation-delay:1.1s;
		-o-animation-delay:1.1s;
		-ms-animation-delay:1.1s;
		-webkit-animation-delay:1.1s;
		-moz-animation-delay:1.1s;
}

#circularG_7{
	left:15px;
	bottom:0;
	animation-delay:1.24s;
		-o-animation-delay:1.24s;
		-ms-animation-delay:1.24s;
		-webkit-animation-delay:1.24s;
		-moz-animation-delay:1.24s;
}

#circularG_8{
	left:4px;
	bottom:4px;
	animation-delay:1.38s;
		-o-animation-delay:1.38s;
		-ms-animation-delay:1.38s;
		-webkit-animation-delay:1.38s;
		-moz-animation-delay:1.38s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}